<div class="container-fluid bg-custom d-flex align-items-center justify-content-center vh-100">
    <div class="row w-75 d-flex align-items-center justify-content-center">
        <!-- Logo -->
        <div class="col-md-5 d-flex flex-column align-items-center text-center">
            <img src="https://i.postimg.cc/C14MR50C/o-bg-remover-gen-2t-S4-Kz-Nu-QLRM05-Sby-I05npm-XRTc.png" 
                 alt="Logo MAP PARKING" class="img-fluid mb-4" style="max-width: 90%;">
        </div>

        <!-- Formulario de recuperación de contraseña -->
        <div class="col-md-5 bg-white p-4 rounded shadow">
            <h2 class="text-center fw-bold mb-4">Recuperar Contraseña</h2>
            <form (ngSubmit)="recuperarContrasenia()" #recuperarForm="ngForm">
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Correo electrónico</label>
                    <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        class="form-control border-dark"
                        [(ngModel)]="email" 
                        required 
                        placeholder="Ingrese su correo"
                    />
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary fw-bold" [disabled]="!recuperarForm.form.valid">Enviar</button>
                </div>

                <p *ngIf="mensaje" [class.error]="error" class="text-center mt-3">{{ mensaje }}</p>
            </form>   
        </div>
    </div>
</div>

<!-- Modal para mostrar mensaje de confirmación -->
<div *ngIf="mostrarModal" class="modal">
    <div class="modal-content text-center p-3">
        <p class="fw-bold">Revisa tu correo</p>
        <button class="btn btn-primary fw-bold" (click)="cerrarModal()">Cerrar</button>
    </div>
</div>
