<header class="header">

    <div class="dropdown">

        <button class="menu-btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false">

            <div class="icon-box">
                <img src="https://cdn-icons-png.flaticon.com/512/2319/2319181.png" alt="Menú">
            </div>

        </button>

        <ul class="dropdown-menu"
            [hidden]="userRole !== 'ADMIN' && userRole !== 'CUSTOMER'"
            aria-labelledby="dropdownMenuButton1">

            <li>
                <a class="dropdown-item" (click)="cerrarSesion()">
                    Cerrar sesión
                </a>
            </li>

            <li *ngIf="userRole === 'CUSTOMER'">
                <a class="dropdown-item" (click)="reservarServicios()">
                    Reservar
                </a>
            </li>

            <li *ngIf="userRole === 'ADMIN'">
                <a class="dropdown-item" (click)="tablaReservas()">
                    Registro reservas
                </a>
            </li>

            <!-- NUEVO -->
            <li *ngIf="userRole === 'ADMIN'">
                <a class="dropdown-item" (click)="gestionUsuarios()">
                    Gestión usuarios
                </a>
            </li>

        </ul>

    </div>

    <button class="logo" onclick="window.location.href='/'">
        <div class="logo">
            <span>Auto</span>
            <i class="fa-solid fa-car-side"></i>
            <span>Spark</span>
        </div>
    </button>

    <button class="profile-btn" [routerLink]="['/register']">
        <div class="icon-box">
            <img src="https://cdn-icons-png.flaticon.com/256/6522/6522516.png" alt="Perfil">
        </div>
    </button>

</header>