C:\Pregrado Ingenieria en Sistemas\Semestre 7\Calidad de Software\Repositorio Para Trabajos\2026A\calidad-software\talleres\segundo-corte\Taller - Defect Density\defect-density-demo\Token de SonarQube.txt