/* Estilos generales para el contenedor de la página */
.full-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
}

/* Estilos para el contenedor de la tabla para centrarla */
.tabla-center-container {
    flex-grow: 1; /* Permite que crezca */
    display: flex;
    flex-direction: column; /* Alinea los elementos internos verticalmente */
    justify-content: center; /* Centra la tabla verticalmente si el contenido es menor */
    align-items: center; /* Centra la tabla horizontalmente */
    overflow-x: auto;
    padding: 15px; /* Añade padding al contenedor de la tabla */
    box-sizing: border-box;
  }

/* Estilos para la tabla */
.tabla-reservas {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px; /* Añade margen debajo de la tabla para separarla del footer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
  }

/* Estilos para los encabezados de la tabla (<th>) */
.tabla-reservas th {
background-color: #f64413;
color: white;
text-transform: uppercase;
padding: 12px 15px;
text-align: center;
border: none; /* Elimina los bordes individuales del encabezado */
font-weight: bold;
}

/* Estilos para las celdas de la tabla (<td>) */
.tabla-reservas td {
background-color: #333; /* Fondo grisáceo oscuro */
color: white;
padding: 10px 15px;
text-align: center;
border: none; /* Elimina los bordes individuales de las celdas */
}

/* Estilos para los bordes de las celdas (usando pseudo-elementos para un mejor control) */
.tabla-reservas tr td {
position: relative;
}

.tabla-reservas tr td:not(:last-child)::after {
content: '';
position: absolute;
top: 50%;
right: 0;
height: 60%;
border-right: 1px solid #555; /* Borde vertical entre celdas */
transform: translateY(-50%);
}

.tabla-reservas tr:not(:last-child) td {
border-bottom: 1px solid #555; /* Borde horizontal entre filas */
}

/* Estilo para la última fila para redondear la parte inferior */
.tabla-reservas tr:last-child td:first-child {
border-bottom-left-radius: 8px;
}

.tabla-reservas tr:last-child td:last-child {
border-bottom-right-radius: 8px;
}

/* Estilo para la primera fila para redondear la parte superior */
.tabla-reservas tr:first-child th:first-child {
border-top-left-radius: 8px;
}

.tabla-reservas tr:first-child th:last-child {
border-top-right-radius: 8px;
}
