<div class="full-page-container">
  <div class="tabla-center-container">
    <table class="tabla-reservas">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Teléfono</th>
          <th>Placa</th>
          <th *ngIf="userRole === 'ADMIN'">Tipo Vehículo</th>
          <th>Tipo Servicio</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.customerFullName }}</td>
          <td>{{ reserva.customerIdentityCard }}</td>
          <td>{{ reserva.customerPhone }}</td>
          <td>{{ reserva.licensePlate }}</td>
          <td *ngIf="userRole === 'ADMIN'">{{ reserva.vehicleType }}</td>
          <td>{{ reserva.serviceType }}</td>
          <td>{{ reserva.value | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>