<div class="scroll-container-vertical">
  <div class="servicios-grid">
    <div class="servicio" *ngFor="let service of visibleServices">
      <div class="iconos-servicio" *ngIf="userRole === 'ADMIN'">
        <button (click)="editService(service)" class="icon-button">
          <img src="https://cdn-icons-png.flaticon.com/512/84/84380.png" alt="Editar">
        </button>
        <button (click)="deleteService(service.id)" class="btn btn-danger float-end">
          <i class="fa fa-trash"></i>
        </button>
        <button (click)="toggleVisibility(service)" class="icon-button">
          <img 
            [src]="service.active 
                ? 'https://cdn-icons-png.flaticon.com/512/709/709612.png' 
                : 'https://cdn-icons-png.flaticon.com/512/7794/7794218.png'" 
            alt="Visibilidad">
        </button>
      </div>
      <h3>{{ service.name }}</h3>
      <img [src]="service.imageUrl" alt="Imagen de servicio" style="width: 100%; max-height: 200px; object-fit: cover;" />
      <p>{{ service.description }}</p>
      <h3>${{ service.price }}</h3>
    </div>
    <div *ngIf="servicesList.length === 0 && userRole === 'ADMIN'" class="center-button">
      <button class="icon-box add-btn" (click)="goToCreateService()">
        <span class="plus-symbol">+</span>
      </button>
    </div>
    <div *ngIf="servicesList.length > 0 && userRole === 'ADMIN'" class="top-button">
      <button class="icon-box add-btn" (click)="goToCreateService()">
        <span class="plus-symbol">+</span>
      </button>
    </div>    
  </div>
</div>