<div class="registro-container">
    <div class="form-container">
      <form #registroForm="ngForm" (ngSubmit)="registrarUsuario()" novalidate>
        <label class="small-label">Nombre:</label>
        <input type="text" [(ngModel)]="nuevoUsuario.fullName" name="fullName" required 
               pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]{3,50}$" #fullName="ngModel" />
        <div *ngIf="fullName.invalid && fullName.touched">
          <small>El nombre debe contener solo letras y tener entre 3 y 50 caracteres.</small>
        </div>
  
        <label class="small-label">Email:</label>
        <input type="email" [(ngModel)]="nuevoUsuario.email" name="email" required 
               pattern="^[^@]+@[^@]+\.com$" #email="ngModel" />
        <div *ngIf="email.invalid && email.touched">
          <small>Ingrese un correo electrónico válido terminado en .com</small>
        </div>
  
        <label class="small-label">Contraseña:</label>
        <div class="password-container">
          <input [type]="mostrarContrasenia ? 'text' : 'password'" 
                [(ngModel)]="nuevoUsuario.password" 
                name="password" 
                required 
                #password="ngModel" 
                pattern="^(?=.*[A-Z])(?=.*\d).{6,}$" />
          <i class="fa-solid" [ngClass]="{'fa-eye': !mostrarContrasenia, 'fa-eye-slash': mostrarContrasenia}" 
            (click)="toggleMostrarContrasenia()"></i>
        </div>
        <div *ngIf="password.invalid && password.touched">
          <small>La contraseña debe incluir al menos una mayúscula, un número y tener mínimo 6 caracteres.</small>
        </div>
  
        <label class="small-label">Número de Cédula:</label>
        <input type="text" [(ngModel)]="nuevoUsuario.identityCard" name="identityCard" required 
               pattern="^\d+$" #identityCard="ngModel" />
        <div *ngIf="identityCard.invalid && identityCard.touched">
          <small>La cédula solo debe contener números.</small>
        </div>
  
        <label class="small-label">Número de Teléfono:</label>
        <input type="text" [(ngModel)]="nuevoUsuario.phone" name="phone" required 
               pattern="^\d+$" #phone="ngModel" />
        <div *ngIf="phone.invalid && phone.touched">
          <small>El número de teléfono solo debe contener números.</small>
        </div>
  
        <label class="small-label">Matrícula del Vehículo:</label>
        <input type="text" [(ngModel)]="nuevoUsuario.licensePlate" name="licensePlate" required 
               pattern="^[A-Z0-9]+$" #licensePlate="ngModel" />
        <div *ngIf="licensePlate.invalid && licensePlate.touched">
          <small>La matrícula solo puede contener letras mayúsculas y números.</small>
        </div>
  
        <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
      </form>
  
      <p class="login-text">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
    </div>
  
    <div class="image-container">
      <img src="https://aguagenesis.com/wp-content/uploads/2019/03/Lavaderos-de-Carros.jpg" alt="Car Wash">
    </div>
  
    <div class="modal" *ngIf="mensajeModal">
      <div class="modal-content">
        <p>{{ mensajeModal }}</p>
        <button (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
</div>