<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutoSpark Selenium Suite" parallel="tests" thread-count="2">

    <!-- Pruebas en Chrome -->
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.selenium.com.autospark.migueljuliana.RegisterTest"/>
            <class name="tests.selenium.com.autospark.migueljuliana.LoginTest"/>
            <class name="tests.selenium.com.autospark.migueljuliana.ServicesTest"/>
            <class name="tests.selenium.com.autospark.migueljuliana.ReservationTest"/>
        </classes>
    </test>

</suite>