.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana */
    background-color: black; /* Establece el fondo negro */

}
/* Estilos para el header, main (router-outlet), y footer */
header {
/* Estilos para tu header (ya los tienes en tu código) */
background-color: black; /* Ejemplo */
color: white; /* Ejemplo */
padding: 10px 20px; /* Ejemplo */
}

main {
flex-grow: 1; /* Permite que el main crezca y ocupe el espacio restante */
/* Puedes añadir más estilos para el main si lo necesitas, como padding */
}

footer {
/* Estilos para tu footer (ya los tienes en tu código) */
background-color: black; /* Ejemplo */
color: white; /* Ejemplo */
text-align: center; /* Ejemplo */
padding: 15px 0; /* Ejemplo */
}