<div class="container my-5">
  <!-- Título del Servicio -->
  <div class="text-center mb-5">
    <h1 class="fw-bold text-primary">Conoce Nuestros Servicios</h1>
    <p class="text-muted fs-5">
      Explora los detalles de cada servicio que ofrecemos para mejorar tu experiencia.
    </p>
  </div>

  <!-- Detalle de Servicios -->
  <div class="row justify-content-center">
    <!-- Servicio 1 -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="fw-bold mb-0">Reserva de Espacios</h5>
        </div>
        <div class="card-body">
          <p class="text-muted">
            Reserva tu espacio de estacionamiento de forma rápida y segura desde cualquier lugar.
          </p>
          <table class="table table-bordered text-center">
            <thead class="bg-light">
              <tr>
                <th>Duración</th>
                <th>Automóvil/Camioneta</th>
                <th>Motos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 Hora</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>1 a 5 Horas</td>
                <td>$3,500</td>
                <td>$2,500</td>
              </tr>
              <tr>
                <td>5 a 6 Horas</td>
                <td>$5,500</td>
                <td>$3,700</td>
              </tr>
              <tr>
                <td>6 a 7 Horas</td>
                <td>$7,500</td>
                <td>$4,900</td>
              </tr>
              <tr>
                <td>Más de 7 Horas</td>
                <td>$15,000</td>
                <td>$8,000</td>
              </tr>
            </tbody>
          </table>

          <div class="card-footer text-center">
            <button class="btn btn-primary fw-bold" [routerLink]="['/servicio_tarifa']">Calcular Tarifa</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Servicio 2 -->


  </div>
</div>
